<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{0,0},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{174,0},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{348,0},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{522,0},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{696,0},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{0,163},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{174,163},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{348,163},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{522,163},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{696,163},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{0,326},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{174,326},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{348,326},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{0,489},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>M.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{174,489},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NT$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{349,165}</string>
                <key>spriteSourceSize</key>
                <string>{349,165}</string>
                <key>textureRect</key>
                <string>{{0,815},{349,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{348,489},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>RM.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{294,163}</string>
                <key>spriteSourceSize</key>
                <string>{294,163}</string>
                <key>textureRect</key>
                <string>{{522,489},{294,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>S$.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{215,165}</string>
                <key>spriteSourceSize</key>
                <string>{215,165}</string>
                <key>textureRect</key>
                <string>{{349,815},{215,165}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>T.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{0,652},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>W.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{174,652},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{348,652},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>comma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{522,326},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,163}</string>
                <key>spriteSourceSize</key>
                <string>{174,163}</string>
                <key>textureRect</key>
                <string>{{696,326},{174,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Đ.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,163}</string>
                <key>spriteSourceSize</key>
                <string>{128,163}</string>
                <key>textureRect</key>
                <string>{{522,652},{128,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NumberFull.png</string>
            <key>size</key>
            <string>{870,980}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e0d73c1dfe0d9304da341b14b2b5c09:114cad6a772fec127212a0f1849beb26:196c65973d7748489d73fae552c429cb$</string>
            <key>textureFileName</key>
            <string>NumberFull.png</string>
        </dict>
    </dict>
</plist>
