<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>$ 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{339,0},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{0,180},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{140,180},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{280,180},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{0,360},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{140,360},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{280,360},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{0,540},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{140,540},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{280,540},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{0,720},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>B 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,128}</string>
                <key>spriteSourceSize</key>
                <string>{98,128}</string>
                <key>textureRect</key>
                <string>{{0,0},{98,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>NT$ 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,131}</string>
                <key>spriteSourceSize</key>
                <string>{281,131}</string>
                <key>textureRect</key>
                <string>{{162,900},{281,131}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>P 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,107}</string>
                <key>spriteSourceSize</key>
                <string>{128,107}</string>
                <key>textureRect</key>
                <string>{{211,0},{128,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>W 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,107}</string>
                <key>spriteSourceSize</key>
                <string>{162,107}</string>
                <key>textureRect</key>
                <string>{{0,900},{162,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Y 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{113,107}</string>
                <key>spriteSourceSize</key>
                <string>{113,107}</string>
                <key>textureRect</key>
                <string>{{98,0},{113,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cham 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{140,720},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>phay 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,180}</string>
                <key>spriteSourceSize</key>
                <string>{140,180}</string>
                <key>textureRect</key>
                <string>{{280,720},{140,180}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BitmapNumberNew.png</string>
            <key>size</key>
            <string>{479,1031}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6c1970fe8f60058c683fd2fd90381034:86d6ab349c492fcb6c7443b8c80cf3fc:2b2027b82a3531591e2e16f336fca444$</string>
            <key>textureFileName</key>
            <string>BitmapNumberNew.png</string>
        </dict>
    </dict>
</plist>
