<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{0,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{115,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{230,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{345,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{460,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{575,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{690,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{805,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{920,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{1035,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>b.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,139}</string>
                <key>spriteSourceSize</key>
                <string>{96,139}</string>
                <key>textureRect</key>
                <string>{{1150,0},{96,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>common 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{1246,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dollar 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{1361,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>dot 1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,145}</string>
                <key>spriteSourceSize</key>
                <string>{115,145}</string>
                <key>textureRect</key>
                <string>{{1476,0},{115,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,107}</string>
                <key>spriteSourceSize</key>
                <string>{128,107}</string>
                <key>textureRect</key>
                <string>{{1591,0},{128,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>won.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{167,107}</string>
                <key>spriteSourceSize</key>
                <string>{167,107}</string>
                <key>textureRect</key>
                <string>{{1719,0},{167,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>¥.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,107}</string>
                <key>spriteSourceSize</key>
                <string>{115,107}</string>
                <key>textureRect</key>
                <string>{{1886,0},{115,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>BitmapNumber.png</string>
            <key>size</key>
            <string>{2001,145}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a417c46fc9e37066564ef4ef7a32e8a:42e8553d46fe1e4a3e8dfb91009192e4:af0c658becbde6ab270758087458e0dd$</string>
            <key>textureFileName</key>
            <string>BitmapNumber.png</string>
        </dict>
    </dict>
</plist>
